<!doctype html>
<html>
<head>
    <title>Ratings</title>
</head>

<body>
    Ratings
    <hr>
        <ul>
          {% for message in get_flashed_messages() %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>

        <div>
            {% if 'email' in session %}
            <form action="/logout">
                Would you like to logout?
                <input type="submit" value="Logout">
            </form>
            {% endif %}
        </div>

    {% block content %} put your content here {% endblock %}

</body>
</html> 